# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
Dockerfile
.dockerignore
.cache
*.pem
# Artifacts that will be built during image creation.
# This should contain all files created during `npm run build`.
public/dist
node_modules
.history
.idea
.vscode
README.md
build
.DS_Store
/.circleci
.circleci/envs.py*
.circleci/envs/env-vars.py*
